body{
    background-size: cover;
}
.copy_right_footer{
    color: white;
    background-color: gray;
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
}
#object_name{
    width: 30%;
    border: 2px solid black;
    box-shadow: 5px 5px 5px grey;
    background-color: rgb(243, 241, 241);
}
